<div class="wrap">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Top 20 news</h1>
          <p class="lead">We collect the most important information for today. Keep abreast of developments.Stay informed.</p>
        </div>
      </div>
    
<div class="card" style="width: 30rem;" *ngFor="let links of news.articles">
  <img class="card-img-top" [src]="links.urlToImage" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"> {{links.title}}</h5>
    <p class="card-text">{{links.description}}</p>
    <a href="{{links.url}}" class="btn btn-primary">Read</a>
  </div>
</div>
</div>